@import "variables.scss";

.option {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 3vmin;
  height: 25vmin;

  vertical-align: middle;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-text {
  color: grey;
}

#leftOption {
  background: $blue;
  color: white;
}

#leftOption:hover {
  background: lighten($blue, 10%);
}

#rightOption {
  background: $red;
  color: white;
}

#rightOption:hover {
  background: lighten($red, 10%);
}
